input {
  height: 32px;
  margin: 0px 16px;
  width: 50%;
  padding: 8px;
}

input::placeholder, textarea::placeholder {
  color: thistle;
}

textarea {
  margin-left: 16px;
  width: 50%;
  padding: 8px;
}

button {
  margin: 8px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 8px;
  color: teal;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

div {
  font-size: 24px;
  color: brown;
}

html {
  scroll-behavior: smooth;
}
